/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
    background-color: #222;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}


*:focus {
    outline: 2px dashed #1E90FF;
    outline-offset: 2px;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


/* GLOBAL WRAPPER */
.global-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 24px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.hero-content {
    max-width: 285px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Bebas Neue', 'Roboto Condensed', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

.hero-link {
    display: inline-block;
    font-family: 'Bebas Neue', 'Roboto Condensed', 'Arial', sans-serif;
    background-color: #1E90FF;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-link:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.hero-link:active {
    background-color: rgba(30, 144, 255, 0.6);
}

.hero-link-inner {
    display: flex;
    padding: 12px 24px;
}

.hero-link-inner::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("../img/icon-star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
}


/* LATEST-VIDEOS */
.latest-videos {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 54px;
}

.latest-videos-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: normal;
    font-weight: 400;
    font-family: 'Bebas Neue', 'Roboto Condensed', 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.latest-videos-devider {
    height: 1px;
    border: 0;
    margin-top: 24px;
    margin-bottom: 24px ;
    background-color: #999;
}

.latest-videos-list {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    list-style: none;
}

.latest-videos-item:not(:last-child) {
    margin-bottom: 10px;
}


/* ITEM-LATEST-VIDEOS */
.item-latest-videos {
    display: flex;
}

.item-latest-videos-img {
    width: 160px;
    height: auto;
    border-radius: 4px;
}

.item-latest-videos-info {
    padding: 16px;
}

.item-latest-videos-heading {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', 'Roboto Condensed', 'Arial', sans-serif;
}

.item-latest-videos-link {
    display: inline-block;
    text-decoration: none;
    color: #222;
}

.item-latest-videos-link:hover {
    color: #1E90FF;
}

.item-latest-videos-link:active {
    opacity: 0.6;
}

.item-latest-videos-meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    color: #888;
}

.item-latest-videos-published-at {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.item-latest-videos-published-at::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(..//img/time.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
}

.item-latest-videos-view {
    display: flex;
    align-items: center;
}

.item-latest-videos-view::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(..//img/view.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: '';
}


/* LOAD MORE BUTTON */
.load-more-button {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    background-color: #1E90FF;
    color: #fff;
}

.load-more-button:hover {
    background-color: rgba(30, 144, 255, 0.8);
}

.load-more-button:active {
    background-color: rgba(30, 144, 255, 0.6);
}


/* RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/hero@2x.jpg);
    }
}